/* Colors: */
$main-color: #bebebe;
$secondary-color: #25e8ef;
$transition: ease 0.3s;

body {
  background: rgb(43, 43, 43);
  color: white;
  width: 100vw;
  height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.1rem;
    margin-top: 1rem;

    .header {
      font-size: 2.5rem;
      margin-bottom: 3rem;
      text-align: center;
    }

    .input {
      font-size: 1rem;
      padding: 0.4rem;
      font-style: italic;
    }

    /*UsersPage*/
    .names {
      display: flex;
      flex-direction: column;
      align-items: center;

      .inputs {
        display: flex;
        justify-content: center;

        .input {
          margin-right: 0.5rem;
          width: 11rem;
        }
      }

      .text {
        display: flex;
        flex-direction: column;
        align-self: self-start;
        margin: 1.5rem 0 0 1rem;
        font-size: 1.2rem;

        .box {
          display: flex;
          align-items: center;

          .name {
            margin-left: 1rem;
            color: $secondary-color;
          }
        }
      }
    }

    /*TodosPage*/
    .todos {
      display: flex;
      align-items: center;
      flex-direction: column;

      .input {
        min-width: 20rem;
        margin-right: 0.7rem;
      }

      &_creator {
        display: flex;
        align-items: center;
        margin-bottom: 2.5rem;
      }

      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 1.2rem;
        width: 22rem;
        margin: 0 0 1.3rem;
        line-height: 1.5rem;

        .text {
          width: 18rem;
          word-wrap: break-word;
        }
      }
    }

    /*PostsPage*/
    .posts {
      &_button {
        text-align: center;
        margin: 0 auto 2.5rem;
        width: 8rem;
        font-size: 1.5rem;
        cursor: pointer;
        border-bottom: 3px solid $secondary-color;
        transition: $transition;
        padding-bottom: 0.5rem;

        &:hover,
        &:focus,
        &:active {
          width: 10rem;
        }
      }

      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.2rem;
        flex-wrap: wrap;
        line-height: 1.5rem;
        border-bottom: 1px solid rgba($main-color, 0.2);

        .text {
          word-wrap: break-word;
          width: 85%;
          max-width: 30rem;
        }
      }
    }

    .button {
      padding: 0.4rem;
      font-weight: 600;
      border-radius: 10px;
      border: 2px solid $secondary-color;
      background-color: $main-color;

      &_icon {
        font-size: 2.2rem;
        color: $secondary-color;
        transition: $transition;
        cursor: pointer;

        &_todo {
          font-size: 1.3rem;
          margin-right: 0.5rem;
        }

        &:active {
          transform: scale(0.8);
        }
      }

      /*Navbar*/
      &_navigate {
        font-size: 1rem;
        margin: 0.3rem;
        padding: 0.6rem;
        text-transform: uppercase;
        border: none;
        border-radius: 20px;
        font-weight: 600;
        background-color: #bebebe;
        transition: $transition;
        color: rgb(43, 43, 43);

        &:hover,
        &:active,
        &:focus {
          background: radial-gradient($main-color 50%, $secondary-color);
          transform: scale(0.9);
        }
      }
    }

    .navigates {
      display: flex;
    }
  }
}
